body {
	overflow: auto;
}

* {
  box-sizing: border-box;
}

.row:before, 
 .row:after {
   content:"";
   display: table ;
   clear:both;
}

.auth-image{
  float: right;
  width: auto;
  height: 375px;

}

.aboutMe{
	float: none;
}


header{
	font-weight: bold;
	font-family: sans-serif;
	position: relative;
	height: 80px;
}

.container {
	width: 70%;
	margin: auto;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
	color: gray;
	font-family: 'Bowlby One SC', cursive;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}



h3 {
	font-size: 20px;
	color: gray;
	font-family: 'Spinnaker', sans-serif;
	font-weight: bold;
	margin-left: 15px;
}

h4 {
	font-size: 25px;
	color: white;
	font-family: 'Spinnaker', sans-serif;
	font-weight: bold;
	background-color: lightgray;
	text-align: center;
	padding: 5px;
	width: 100px;
	margin-left: 15px;
}

p {
	font-size:13px;
	color: black;
	font-family: 'Spinnaker', sans-serif;
	text-align: justify;
}

footer{
	position: absolute;
	width: 100%;
	background-color: white;
	font-weight: bold;
	font-family: 'Spinnaker', sans-serif;
	text-align: center;
	color: gray;
	margin-bottom: 0px;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: lightgray;
	clear:both;
	height:50px;
}

img {
	padding: 5px 5px 5px 5px;
}

.card {
	float: left;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}


